<div class="content" role="main">
  <h2>List of cocktails</h2>

  <app-filters
    [category]="selectedCategoryFilter"
    [ingredient]="selectedIngredientFilter"
    (categoryChanged)="categoryChanged($event)"
    (ingredientChanged)="ingredientChanged($event)"
    (glassChanged)="glassChanged($event)"
    (isAlcoholicChanged)="isAlcoholicChanged($event)"
  />

  <app-drink
    [drink]="randomCocktail"
    [showBackButton]="false"
    *ngIf="cocktailList.length === 0"
  />

  <div *ngIf="cocktailList.length > 0">
    <app-drink-card *ngFor="let drink of cocktailList" [drink]="drink" />
  </div>
</div>
