<mat-card class="example-card" *ngIf="drink">
  <mat-card-header>
    <mat-card-title-group class="title-group">
      <app-add-to-favorites [drink]="drink" />
      <mat-card-title>
        {{ drink.strDrink }}
      </mat-card-title>
      <mat-card-subtitle>{{ drink.strAlcoholic }}</mat-card-subtitle>
      <mat-card-subtitle>{{ drink.strGlass }}</mat-card-subtitle>
    </mat-card-title-group>
  </mat-card-header>
  <img mat-card-image [src]="drink.strDrinkThumb" alt="" />
  <mat-card-content>
    <p>
      {{ drink.strInstructions }}
    </p>
    <h4>Ingredients</h4>
    <ul>
      <ng-container *ngFor="let ingredient of drink | keyvalue">
        <li
          *ngIf="
            ingredient.key.startsWith('strIngredient') &&
            ingredient.value !== null
          "
        >
          {{ ingredient.value }}
        </li>
      </ng-container>
    </ul>
  </mat-card-content>
  <mat-card-actions align="end">
    <a mat-button (click)="goBack()" *ngIf="showBackButton">BACK</a>
    <a mat-button [routerLink]="['/drink', drink.idDrink]" *ngIf="!standalone"
      >VIEW</a
    >
  </mat-card-actions>
</mat-card>
