<form [formGroup]="filterForm" class="filter-form">
  <mat-form-field *ngIf="categoryFilters">
    <mat-label for="categoryFilter">Drinks categories</mat-label>
    <mat-select formControlName="category" name="category" #categoryFilter>
      <mat-option
        *ngFor="let drink of categoryFilters.drinks"
        [value]="drink.strCategory"
        >{{ drink.strCategory }}</mat-option
      >
    </mat-select>
  </mat-form-field>
  <mat-form-field *ngIf="ingredientsFilters">
    <mat-label for="ingredient">Ingredient</mat-label>
    <mat-select formControlName="ingredient" name="ingredient" #ingredient>
      <mat-option
        *ngFor="let drink of ingredientsFilters.drinks"
        [value]="drink.strIngredient1"
        >{{ drink.strIngredient1 }}</mat-option
      >
    </mat-select>
  </mat-form-field>
  <mat-form-field *ngIf="glassFilters">
    <mat-label for="glass">Type of glass</mat-label>
    <mat-select formControlName="glass" name="glass" #glass>
      <mat-option
        *ngFor="let drink of glassFilters.drinks"
        [value]="drink.strGlass"
        >{{ drink.strGlass }}</mat-option
      >
    </mat-select>
  </mat-form-field>
  <mat-form-field *ngIf="alcoholFilters">
    <mat-label for="isAlcoholic">Contains alcohol?</mat-label>
    <mat-select formControlName="isAlcoholic" name="isAlcoholic" #isAlcoholic>
      <mat-option
        *ngFor="let drink of alcoholFilters.drinks"
        [value]="drink.strAlcoholic"
        >{{ drink.strAlcoholic }}</mat-option
      >
    </mat-select>
  </mat-form-field>
  <div class="clear-button">
    <button
      mat-mini-fab
      color="primary"
      aria-label="Example icon button with a delete icon"
      (click)="reset()"
    >
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</form>
