.filter-form {
  // align-items: center;
  display: flex;
  justify-content: space-between;

  @media (max-width: 1000px) {
    flex-wrap: wrap;
  }

  .clear-button {
    align-items: center;
    align-self: baseline;
    display: inline-flex;
    flex-basis: 72px;
    justify-content: center;
    padding-block-start: 12px;
  }
}
